* {
  margin: 0;
  box-sizing: border-box;
  outline: none;
}
h1,h2,h3,h4,h5,h6 {
  font-family: Butler;
}
.container {
  max-width: 1166px;
  margin: 0 auto;
}
header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 30px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 999;
}
header ul {
  padding-left: 0;
}
header ul li {
  list-style: none;
  display: inline-block;
  margin: 0 20px;
}
header ul li a {
  color: white;
  text-transform: uppercase;
  text-decoration: none;
}

.banner {
  height: 100vh;
  background-image: url(../images/top-picture.jpg);
  background-size: cover;
  background-position: top;
  display: flex;
  align-items: flex-end;
}
.banner .text {
  text-align: center;
  padding-bottom: 100px;
}
.banner h1 {
  line-height: 80px;
  font-weight: 300;
  margin-bottom: 10px;
}
/*GLOBAL BUTTON STYLE*/
.btn {
  position: relative;
  display: inline-block;
  width: 250px;
  height: 60px;
  background-color: #f9d8d4;
  color: black;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  line-height: 60px;
  z-index: 9;
  margin-top: 50px;
  transition: all ease 0.5s;
}
.btn:before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 0;
  background-color: black;
  opacity: 0.9;
  z-index: -1;
  transition: all ease 0.5s;
}
.btn:hover {
  color: #f9d8d4;
}
.btn:hover:before {
  top: 0;
  height: 100%;
}
.brand-logo {
  padding: 30px 0;
}
.sec1 {
  position: relative;
  padding: 80px 0;
}
.se1 h3 {
  text-transform: uppercase;
  line-height: 40px;
}
.sec1 p {
  line-height: 32px;
}
.sec1-inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.sec1 .text {
  width: 47%;
}
.sec1 .text-left {
  text-align: right;
}
.sec1 .text-right {
  text-align: left;
}
.sec1:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 1px;
  background: linear-gradient(to left, transparent, #fff, transparent);
}
.sec1:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 1px;
  background: linear-gradient(to left, transparent, #fff, transparent);
}
.sec2 {
  padding: 100px 0 0;
}
.sec2 h2 {
  text-transform: uppercase;
}
.sec2 p {
  line-height: 35px;
}
.sec2-inner {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.sec2-inner .img {
  width: auto;
}
.sec2-inner .text {
  width: 50%;
  margin-left: -65px;
  z-index: 9;
}
.sec2 .text-inner {
  position: relative;
  margin: 55px 0 0 190px;
}
.sec2 .text-inner:before {
  content: "";
  position: absolute;
  top: 8px;
  left: -30px;
  width: 1px;
  height: 100%;
  background: linear-gradient(to top, transparent, #f4acac);
}
